@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Piedra&display=swap');

* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Overlock', cursive;
    


}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Overlock', cursive;
}

div.cat{
    
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, 0.1)) ,
    url(../assets/wine-cheese-food-istock-scorpp.jpg);
    background-position: right ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    

}