div.displayTable{
    margin:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
div.displayTable h3{
    font-family: 'Overlock', cursive;;
    font-weight: 700;
    font-size: 50px;
}
.authBlock.formGroup{
margin-bottom: 10px;
}